.welcome-img{
    background-image: url('../images/backgrounds/hd\ pizza.jpg');
    height: 800px;
    width: auto;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    color: orange;
}
.welcome-text {
    padding-left: 51%;
    padding-top: 23.5%;
}
img {
    height: 125px;
    width: auto;
    cursor: pointer;
}
.contentsC, .contentsP, .contentsM, .contentsV, .contentsE, .contentsH {
    display: none;
}
.about{
    background-image: url('../images/backgrounds/Welcome.png');
    height: 800px;
    width: auto;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    color: orange;
}
.about-text {
    text-align: center;
    background-image: url('../images/backgrounds/yolo.jpg');
    height: 400px;
    width: auto;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    color:black;
    padding-top: 50px;
}
.grid {
    padding-left: 150px;
}
.image-row {
    padding-left: 200px;
}
.services-img {
    background-image: url('../images/backgrounds/boxxed.jpg');
    color: orange;
    height: 700px;
    width: auto;
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
}
.services-text {
    padding-top: 350px;
    padding-right: 450px;
    
}
.design, .development, .product {
    display: none;
    text-align: center;
}

.black,
.mighty,
.orange,
.video,
.web,
.sound,
.burned,
.giraffe {
    display: none;
    opacity: 1;
    text-align: center;
    z-index: 10;
    position: relative;
    top:-100px;
    color: greenyellow;
}
.hover-box {
    top: 0px; left: 0px;
}
img, h6 {
    color: rgb(27, 27, 59)
}
h2 {
    text-align: center;
}
.name, .email, .message, .submit {
    background: transparent;
    color: white;
}
.message {
    width: 50%;
}
.name, .email {
    padding-left: 0px;
    width: 25%;
    color: white;
}
.inputs {
    padding-left: 20%;
}
::placeholder {
    color: white;
}
.contact-img {
    background-image: url('../images/backgrounds/c_image.jpg');
    color: white;
    width: auto;
    height: 500px;
    background-repeat: no-repeat;
    background-size: contain;
}
.social-imgs {
    padding-left: 30px;
    text-align: center;
}
body {
    padding: 0;
    margin: 0;
}
div {
    width: 100%;
}
@media only screen and (max-width: 1000px) {
    #images-box {
      flex-direction: column;
      align-items: center;
}
}