.welcome-img{
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    color: orange;
    animation: animate 16s ease-in-out infinite;
}
.welcome-text {
    padding-left: 51%;
    padding-top: 20%;
}
#menu {
    color: black;
}
img {
    height: 125px;
    width: auto;
    cursor: pointer;
}
.contentsC, .contentsP, .contentsM, .contentsV, .contentsE, .contentsH {
    display: none;
    color: black;
}
#nav {
    padding-left: 900px;
}
#about{
    background-image: url('../images/backgrounds/Welcome.png');
    height: 800px;
    width: auto;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    color: orange;
}
.about-text {
    text-align: center;
    background-image: url('../images/backgrounds/yolo.jpg');
    height: 400px;
    width: auto;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    text-align: center;
    color:black;
    padding-top: 50px;
}

.form-control {
    background: transparent;
  }
.grid {
    padding-left: 150px;
}
h6 {
    text-align: right;
}
.image-row {
    padding-left: 200px;
}
#order-content {
    display: none;
    color: wheat;
    background-color: #FFFFFF;
    margin-top: 100px;
    margin-bottom: 100px;
    text-align: center;
    background-image: url('../images/backgrounds/wooden.jpg')
}
#price-content {
    margin-top: 100px;
}
  
#address-form {
    margin-top: 30px;
    margin-left: 40px;
    margin-right: 40px;
}
  
.address-spacing {
    margin-bottom: 20px;
}
  
#state-select {
    margin-top: 0px;
}
#address, #pizza-details-dropdown, #pizza-details, #default-pizza-dropdown, #default-pizza-details, #sides-dropdown, #sides-details {
    display: none;
    cursor: pointer;
}
#address {
    background-image: url('../images/backgrounds/wooden.jpg');
    height: 500px;
    width: auto;
    text-align: center;
    color: whitesmoke;
}
#pickup-btn, #delivery-btn, #custom-pizza-btn, #submit-custom-pizza {
    font-size: 20pt;
    margin-top: 30px;
}
  
#custom-pizza-btn {
    display: none;
}
  
#pickup-btn, #delivery-btn {
    padding-left:300px;
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: 50px;
}
  
#order-proceed-btn {
    font-size: 20pt;
    margin-top: 50px;
    margin-bottom: 100px;
}
  
#checkout-btn {
    font-size: 20pt;
    margin-top: 50px;
    margin-bottom: 40px;
}
  
#submit-custom-pizza {
    margin-bottom: 35px;
}
#form-header {
    color: White;
    font-size: 20pt;
    margin-bottom: 35px;
}
  
#form-content {
    margin-top: 25px;
    margin-bottom: 50px;
    margin-left: -35px;
}
  
#custom-pizza {
    margin-top: 30px;
    border-style: solid;
    border-color: #006699;
    background-color: grey;
    border-radius: 15%;
    margin-left: 70px;
    margin-right: 70px;
}
  
select {
    margin-top: 15px;
}
  #order-details, #default-pizza-details {
    text-align: left;
    margin-top: 10px;
}
  
p {
    margin-top: 5px;
}
  
ul {
    font-size: 13pt;
}
#default-pizzas {
    display: none;
}
  
.pizza-option, .side-option {
    width: 170px;
    height: 180px;
    font-size: 20pt;
    margin-top: 20px;
    margin-bottom: 10px;
}
  
#cheese-default-size, #pep-default-size, #veggie-default-size {
    display: none;
}
  
.indiv-pizza-default {
    margin-top: 5px;
    margin-bottom: 5px;
}
      
div.label {
    margin: 0;
    padding: 0;
    margin-top: 1.125em;
    margin-bottom: 0.125em;
    font-size: 100%;
    font-weight: bold;
    color: orange;
    display: block;
    text-align: left;
}

div.group {
    margin: 0;
    padding: 0;
    margin-top: 1.25em;
}

div.group div.title {
    margin: 0;
    padding: 0;
    font-weight: bold;
}

div.group div.label {
    margin: 0;
    padding: 0;
    margin-top: 0.25em;
    margin-bottom: 0.25em;
    font-weight: normal;
}

input[type="submit"] {
    margin-top: 2em;
}
body {
    padding: 0;
    margin: 0;
}
div {
    width: 100%;
}
@keyframes animate{
    0%, 100%{
        background-image: url('../images/backgrounds/hd\ pizza.jpg');
        height: 700px;
        width: 100%;
        background-repeat: no-repeat;
        background-size: cover;
    
    }
    50%{
        background-image: url('../images/backgrounds/uhd.jpg');
        height: 700px;
        width: 100%;
        background-repeat: no-repeat;
        background-size: cover;
    
    }
}

@media only screen and (max-width: 1000px) {
    #images-box {
      flex-direction: column;
      align-items: center;
}
}